* {
	font-family:Roboto, Sans-serif;
	margin:0px;
}

html, body {
	width:100%;
	height:100%;
	overflow:hidden;
}

html, body, div {
	padding:0px;
	font-size:0px;
}

body {
	background-color:#999;
	font-size:0px;
}

h2 {
	font-size:16px;
	text-decoration:underline;
}

label, input[type=number] {
	font-size:13px;
}

.button, input[type=button] {
	cursor:pointer;
}

.hidden {
	display:none !important;
}

.disabled {
	opacity:0.2;
	cursor:default !important;
}

#appWrapper {
	display:flex;
	min-height:0;
	flex-direction:column;
	height:100%;
}

#topbar {
	background-color:#CCC;
	width:100%;
	height:30px;
	z-index:100;
	text-align:center;
	position:relative;
	border-bottom:2px solid #000;
	user-select:none;
}
#topbar .button {
	transition:background 0.2s;
    border-radius:2px;
	margin:2px;
}
#topbar .button:not(.disabled):hover {
	background-color:#BBB;
}
#topbar .button.selected {
	background-color:#A4A4A4 !important;
}
#controls {
	display:inline-block;
	position:absolute;
	top:0px;
	left:0px;
}
#tools {
	display:inline-block;
}
#actions {
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
}

#contentWrapper {
	display:table;
	width:100%;
	height:calc(100% - 32px);
	user-select:none;
}

#panel {
	display:table-cell;
	background-color:#333;
	height:100%;
	width:160px;
	border-right:2px solid #000;
	z-index:50;
	position:relative;
}
#elemSelector {
	display:block;
    text-align:center;
	overflow-x:hidden;
	padding-top:10px;
	padding-bottom:10px;
	position:absolute;
	top:0px;
	box-sizing:border-box;
	height:calc(100% - 100px);
	width:100%;
	box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}
#elemSelector > img {
	padding:5px;
	margin:auto;
	transition:background 0.15s;
	cursor:pointer;
}
#elemSelector > img::after {
	content: "<br>";
	white-space: pre;
}
#elemSelector > img:not(.disabled):hover {
	background-color:#8AF;
}
#elemSelector > img.selected {
	background-color:#5280F5 !important;
}

#settings {
	display:block;
	box-sizing:border-box;
	height:100px;
	width:100%;
	position:absolute;
	bottom:0px;
	border-top:2px solid #000;
	background-color:#444;
	color:white;
	vertical-align:middle;
	padding:4px;
	overflow:auto;
}
#settings > * {
	display:inline-block;
}
#settings > h2, #settings > label {
	text-shadow:1px 1px 3px #222;
}
#settings > label {
	margin-top:5px;
	vertical-align:middle;
}
#settings > input[type=number] {
	max-width:90%;
}

#canvasContainer {
	display:table-cell;
	width:auto;
	height:100%;
	position:relative;
}
#canvasContainer::after {
    box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.7);
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    content:"";
	pointer-events:none;
}
#canvas {
	background-color:#FFF;
	position:absolute;
	top:0px;
	left:0px;
}

.toggle {
	display:inline-block;
	border:2px solid #BBB;
	background-color:#CCC;
	width:30px;
	height:15px;
	border-radius:50px;
	text-align:left;
	cursor:pointer;
	transition:background 0.2s;
	vertical-align:middle;
	margin:4px;
}

.toggle.activated {
	background-color:#1186E3;
	border:2px solid #1990EB;
}

.toggle::after {
	display:inline-block;
	background-color:#FFF;
	border-radius:50px;
	width:15px;
	height:15px;
	pointer-events:none;
	transition:margin-left 0.2s;
	transition-timing-function:ease-out;
	content:"";
}

.toggle.activated::after {
	margin-left:15px;
}